<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onestoit.mapper.EmployeeBaseMapper">
	<insert id="save">
		INSERT INTO onestoit_employee_base (
			employee_id,
			username,
			type,
			name,
			gender,
			birthday,
			password,
			tel,
			email,
			skill
		) VALUES (
			#{employeeId},
			#{username},
			#{type},
			#{name},
			#{gender},
			#{birthday},
			#{password},
			#{tel},
			#{email},
			#{skill}
		);
	</insert>
	
	<select id="alreadyExists">
		select count(*) from onestoit_employee_base where employee_id = #{employeeId}
	</select>
	
	<!-- 社員ログイン -->
	<select id="login">
		select * from onestoit_employee_base where employee_id = #{username} and password = #{password};
	</select>
	
	<!--社員Idで社員の基本情報をゲット-->
	<select id="getById">
		select * from onestoit_employee_base where employee_id = #{employeeId};
	</select>
</mapper>