<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: ページの名にチェンジする -->
    <title>お客様の案件登録情報確認</title>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <!-- vue と elementUIの依存css -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- システム共用のスタイルはこのファイルに追加する -->
    <link href="./css/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/jobCase.css"/>
    <!-- TODO: 作るHTMLとペアでCSSファイルを作り、なるべく同じファイル名にする -->
    <link rel="stylesheet" href="./css/customerCaseDetail.css" />

    <!-- vue と elementUIの依存javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/ja.js"></script>
    <script src="js/utils.js"></script>
</head>

<body>
    <el-container id="app" v-cloak>
        <!-- ヘッドの部分 各々の画面は同じです -->
        <header class="common-header">
            <div class="logo">
                ブリッジ
            </div>
            <div class="login-info">
                <el-badge :value="user.noticeCount" class="item">
                    <el-avatar size="medium" :src="user.avatarUrl"></el-avatar>
                </el-badge>
                {{user.username}}さん、こんにちは！
            </div>
        </header>

        <!-- メインの部分 -->
        <el-container class="common-mian job-case-main">
            <!-- サイドメニュー -->
            <el-aside width="200px">
                <!-- TODO: default-active は今いるのメニューです -->
                <el-menu default-active="1" class="el-menu-vertical-demo">
                    <el-menu-item index="1">新規案件登録</el-menu-item>
                    <el-menu-item index="2">私の案件</el-menu-item>
                    <el-menu-item index="3">通知</el-menu-item>
                </el-menu>
            </el-aside>

            <el-container class="customer-case-detail-container">
                <el-main>
                    <!-- TODO: 内容はここに書く -->
                    <section>
                        <form>
                            <div class="caption-wrapper">
                                <i class="el-icon-edit-outline"></i>
                                <div class="caption">案件の基本情報</div> 
                            </div> 
                            <div class="edit-item-wrapper">
                                <div class="edit-item">
                                    <div class="label">
                                        案件名：{{jobCase.caseName}}
                                        <span class="required"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="edit-item-wrapper">
                                <div class="edit-item edit-item-top">
                                    <div class="label">
                                        案件の説明：{{jobCase.description}}
                                        <span class="required"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="edit-item-wrapper">
                                <div class="edit-item">
                                    <div class="label">希望開発言語：
                                        <span v-for="tech in jobCase.requiredTech">
                                            {{tech}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="edit-item-wrapper">
                                <div class="edit-item">
                                    <div class="label">報酬：{{jobCase.bonusMoney}}万円<span class="required"></span>
                                        <span class="sub-lable">相談可否</span>
                                        <el-switch 
                                            v-model="jobCase.bonusMoneyNegotiable">
                                        </el-switch>
                                    </div>
                                    <div class="sub-edit">
                                    </div>
                                </div>
                            </div>
                            <div class="edit-item-wrapper">
                                <div class="edit-item">
                                    <div class="label">開発期限：{{jobCase.deadlineVal}}
                                        <span class="required"></span>
                                    </div>
                            </div>
                            
                            <div class="functions-container">
                                <div class="caption-wrapper">
                                    <i class="el-icon-edit-outline"></i>
                                    <div class="caption">追加した機能<span class="required"></span></div> 
                                    <span></span>
                                </div> 
                                <div class="functions-edit-wrapper" 
                                    draggable="true"
                                    @dragstart="onFunctionDragStart(index, $event)"
                                    @dragover="onFunctionDragOver(index, $event)"
                                    @drop="onFunctionDrop(index, $event)"
                                    v-for="(func, index) in jobCase.functions">
                                    <div class="func-edit-wrapper">
                                        <div class="label">
                                            機能説明：{{func.functionDesc}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="save-btns">
                                <el-button 
                                    @click="onBackPage"
                                    type="primary">編集に戻る</el-button>
                                <el-button 
                                    @click="onCaseCreate"
                                    type="primary">公開する</el-button>
                                <el-button 
                                    @click="onDraftSave"
                                    type="info">下書きとして保存</el-button>
                            </div>
                        </form>
                    </section>
                    
                </el-main>
            </el-container>
        </el-container>
    </el-container>

</body>

</html>
<script>
    // elementの日本語対応
    ELEMENT.locale(ELEMENT.lang.ja);

    let vm;
    vm = new Vue({
        // id はapp の属性の中の部分を管理する
        el: "#app",
        data() {
            return {
                // ログインしたユーザー情報
                user: {
                    avatarUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png", //アバター画像
                    username: "鈴木　奈々", // ユーザー名
                    noticeCount: 2, // 通知数
                },
                jobCase: {
                    caseName: "",         // 案件名
                    requiredTech:  "",    // 必須技術条件
                    // pulsTech:  "",        // プラス技術条件
                    // number: 3,            // 募集人数
                    // workDays: 15,         // 仕事予定期間
                    bonusMoney: undefined,   //　報酬
                    bonusMoneyNegotiable: false,       //　報酬相談可能
                    description: "",        // 案件の説明
                    deadline: "",   // 開発期限
                    functions: [{
                        id: 0,
                        // functionName: "1",  // 機能名
                        functionDesc: "機能1",  // 機能説明
                        // err: true,
                    }, {
                        id: 1,
                        // functionName: "2",  // 機能名
                        functionDesc: "機能2",  // 機能説明
                    }, {
                        id: 2,
                        // functionName: "3",  // 機能名
                        functionDesc: "機能3",  // 機能説明
                    }],
                },
            };
        },
        mounted() {
            const jobCaseStr = localStorage.getItem("tempJobCase");
            const jobCase = JSON.parse(jobCaseStr);

            // 日付のフォーマット処理
            const {
                deadline
            } = jobCase;
            const deadlineVal = dateFormat(deadline);
            jobCase.deadlineVal = deadlineVal;

            this.jobCase = jobCase;
        },
        methods: {
            onBackPage() {
                window.history.back();
            },
            onCaseCreate() {
                //TODO: サーバーに案件の詳細を送る
                // ...
                this.$message({
                    message: '新規案件を登録しました！',
                    type: 'success'
                });
                setTimeout(() => {
                    // localStorageの一時的に保存した案件情報を削除する
                    localStorage.removeItem("tempJobCase");

                    // 私の案件に移動
                }, 2000);
                
            },
            onDraftSave() {
                //TODO: サーバーに案件の詳細を送る
                this.$message({
                    message: '下書きを保存しました！',
                    type: 'success'
                });
                // 私の案件に移動
            }
        }
    });
</script>