<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: ページの名にチェンジする -->
    <title>お客様案件登録</title>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <!-- vue と elementUIの依存css -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- システム共用のスタイルはこのファイルに追加する -->
    <link href="./css/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/jobCase.css"/>
    <!-- TODO: 作るHTMLとペアでCSSファイルを作り、なるべく同じファイル名にする -->
    <link rel="stylesheet" href="./css/customerCaseEdit.css" />

    <!-- vue と elementUIの依存javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/ja.js"></script>

</head>

<body>
    <el-container id="app">
        <!-- ヘッドの部分 各々の画面は同じです -->
        <header class="common-header">
            <div class="logo">
                ブリッジ
            </div>
            <div class="login-info">
                <el-badge :value="user.noticeCount" class="item">
                    <el-avatar size="medium" :src="user.avatarUrl"></el-avatar>
                </el-badge>
                {{user.username}}さん、こんにちは！
            </div>
        </header>

        <!-- メインの部分 -->
        <el-container class="common-mian job-case-main">
            <!-- サイドメニュー -->
            <el-aside width="200px">
                <!-- TODO: default-active は今いるのメニューです -->
                <el-menu default-active="1" class="el-menu-vertical-demo">
                    <el-menu-item index="1">新規案件登録</el-menu-item>
                    <el-menu-item index="2">私の案件</el-menu-item>
                    <el-menu-item index="2">通知</el-menu-item>
                </el-menu>
            </el-aside>

            <el-container class="customer-case-edit-container">
                <el-main>
                    <!-- 案件登録 -->
                    <section>
                        <form>
                            <div class="caption-wrapper">
                                <i class="el-icon-edit-outline"></i>
                                <div class="caption">案件の基本情報</div> 
                            </div> 
                            <div class="edit-item">
                                <div class="label">
                                    案件名:
                                    <span class="required">（必須）</span>
                                </div>
                                <el-input 
                                    placeholder="例：xxxシステム作成" 
                                    v-model="jobCase.caseName" 
                                    clearable>
                                </el-input>
                            </div>
                            <div class="edit-item edit-item-top">
                                <div class="label">案件の説明:</div>
                                <el-input
                                    type="textarea"
                                    :rows="3"
                                    placeholder="例：案件のプロファイルなど"
                                    v-model="jobCase.description">
                                </el-input>
                            </div>
                            <div class="edit-item">
                                <div class="label">必須技術条件:</div>
                                <el-select 
                                    v-model="jobCase.requiredTech" 
                                    multiple 
                                    placeholder="選択してください" 
                                    clearable>
                                    <el-option 
                                        v-for="tech in techs" 
                                        :key="tech.value" 
                                        :label="tech.label" 
                                        :value="tech.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="edit-item">
                                <div class="label">プラス技術条件:</div>
                                <el-select 
                                    v-model="jobCase.pulsTech" 
                                    multiple 
                                    placeholder="選択してください" 
                                    clearable>
                                    <el-option 
                                        v-for="tech in techs" 
                                        :key="tech.value" 
                                        :label="tech.label" 
                                        :value="tech.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="edit-item">
                                <div class="label">募集人数:</div>
                                <el-input-number 
                                    v-model="jobCase.number" 
                                    :min="1" 
                                    :max="999">
                                </el-input-number>
                                <div class="des">人</div>
                            </div>
                            <div class="edit-item">
                                <div class="label">仕事予定期間:</div>
                                <el-input-number 
                                    v-model="jobCase.workDays" 
                                    :min="1" 
                                    :max="999">
                                </el-input-number>
                                <div class="des">日</div>
                            </div>
                            <div class="edit-item">
                                <div class="label">報酬:</div>
                                <el-input-number 
                                    v-model="jobCase.bonusMoney" 
                                    :min="1" 
                                    :max="999">
                                </el-input-number>
                                <div class="des">万円</div>
                                <div class="sub-edit">
                                    <span class="sub-lable">相談可能</span>
                                    <el-switch 
                                        v-model="jobCase.bonusMoneyNegotiable">
                                    </el-switch>
                                </div>
                            </div>
                            <div class="functions-container">
                                <div class="caption-wrapper">
                                    <i class="el-icon-edit-outline"></i>
                                    <div class="caption">機能の追加</div> 
                                </div> 
                                <div class="functions-edit-wrapper" 
                                    v-for="(func, index) in jobCase.functions">
                                    <div class="opts">
                                        <div v-bind:class="index==0 ? 'opt-item-hidden' : 'opt-item'">
                                            <i class="el-icon-top"></i>
                                            上に移動
                                        </div>
                                        <div v-bind:class="index==(jobCase.functions.length-1) ? 'opt-item-hidden' : 'opt-item'">
                                            <i class="el-icon-bottom"></i>
                                            下に移動
                                        </div>
                                    </div>
                                    <div class="func-edit">
                                        <div class="label">機能名</div>
                                        <el-input 
                                            placeholder="例：検索機能..." 
                                            v-model="func.functionName" 
                                            clearable>
                                        </el-input>
                                    </div>
                                    <div class="func-edit func-edit-top">
                                        <div class="label">機能説明</div>
                                        <el-input 
                                            type="textarea"
                                            :rows="3"
                                            placeholder="例：検索機能は..です" 
                                            v-model="func.functionDesc" 
                                            clearable>
                                        </el-input>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </el-main>
            </el-container>
        </el-container>
    </el-container>

</body>

</html>
<script>
    // elementの日本語対応
    ELEMENT.locale(ELEMENT.lang.ja);

    let vm;
    vm = new Vue({
        // id はapp の属性の中の部分を管理する
        el: "#app",
        data() {
            return {
                // ログインしたユーザー情報
                user: {
                    avatarUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png", //アバター画像
                    username: "田中　慎吾", // ユーザー名
                    noticeCount: 2, // 通知数
                },
                jobCase: {
                    caseName: "",         // 案件名
                    requiredTech:  "",    // 必須技術条件
                    pulsTech:  "",        // プラス技術条件
                    number: 3,            // 募集人数
                    workDays: 15,         // 仕事予定期間
                    bonusMoney: 5,                    //　報酬
                    bonusMoneyNegotiable: false,       //　報酬相談可能
                    description: "",      // 案件の説明
                    functions: [{
                        id: 0,
                        functionName: "1",  // 機能名
                        functionDesc: "1",  // 機能説明
                    }, {
                        id: 1,
                        functionName: "2",  // 機能名
                        functionDesc: "2",  // 機能説明
                    }],
                },
                // 技術選択肢
                techs: [{
                    value: "VBA",
                    label: "VBA",
                }, {
                    value: "java",
                    label: "java",
                }, {
                    value: "c++",
                    label: "c++",
                }, {
                    value: "c#",
                    label: "c#",
                }, {
                    value: "php",
                    label: "php",
                }, {
                    value: "python",
                    label: "python",
                }, {
                    value: "html",
                    label: "html",
                }, {
                    value: "css",
                    label: "css",
                }, {
                    value: "javaScript",
                    label: "javaScript",
                }, {
                    value: "android",
                    label: "android",
                }, {
                    value: "ios",
                    label: "ios",
                }]
            };
        },
        methods: {
            // renderFunctions(h, { node, data, store }) {
            //     return (
                    
            //     );
            // }
        }
    });
</script>