<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お客様の情報登録ページ</title>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <!-- vue と elementUIの依存css -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    
    <link href="./css/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/customerRegister.css">
    
    <!-- vue と elementUIの依存javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/ja.js"></script>
    <script src="//cdn.jsdelivr.net/npm/@element-plus/icons-vue"></script>

</head>
<body >
    <!-- ヘッドの部分 各々の画面は同じです -->
    <header class="common-header">
        <div class="logo">
            ブリッジ
        </div>
        <div class="login-info">
            未登録
        </div>
    </header>

    <!-- メインの部分 -->
    <main class="common-mian common-mian-nologin" id="app" v-cloak>
        <!-- お客様の登録 -->
        <section class="login-form-container">
            <div class="caption">
                お客様の情報登録
            </div>
            <form class="login-form">
                <div class="edit-item-wrapper">
                    <div class="form-item">
                        <label class="label" for="">
                            ユーザ名<span class="required">（必須）</span>
                        </label>
                        <!-- v-modelはフォームのデータを収集するための属性です
                                        new Vueの中のdataの同じ属性と同じ値を保存する -->
                        <el-input 
                            placeholder="例：denshi001" 
                            @input="errClean('username')"
                            @blur="checkUsername"
                            v-bind:class="(errors.username || errors.usernameDuplicate) ? 'input-err' : ''"
                            v-model="customerInfo.username"></el-input>
                        
                        <div v-bind:class="usernameCheck ? 'check-ok' : 'opt-item-hidden'">
                            <i class="el-icon-success"></i>
                        </div>
                    </div>
                    <div v-bind:class="errors.username ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        ユーザ名を入力してください
                    </div>
                    <div v-bind:class="errors.usernameDuplicate ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        ユーザ名はすでに存在しています
                    </div>
                </div>
                <div class="edit-item-wrapper">
                    <div class="form-item">
                        <label class="label" for="">
                            氏&nbsp;&nbsp;名<span class="required">（必須）</span>
                        </label>
                        <el-input 
                            placeholder="例：電子　花子" 
                            @input="errClean('name')"
                            v-bind:class="errors.name ? 'input-err' : ''"
                            v-model="customerInfo.name"></el-input>
                    </div>
                    <div v-bind:class="errors.name ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        氏名を入力してください
                    </div>
                </div>
                <div class="edit-item-wrapper">
                    <div class="form-item">
                        <label class="label"  for="">
                            パスワード<span class="required">（必須）</span>
                        </label>
                        <el-input 
                            placeholder="例：dqdqyi66&&" 
                            show-password
                            @input="errClean('password')"
                            v-bind:class="(errors.password || errors.passwordFormat) ? 'input-err' : ''"
                            v-model="customerInfo.password"></el-input>
                        <div class="desc">
                            (8-20桁、数字とアルファベット両方とも1桁以上)
                        </div>
                    </div>
                    <div v-bind:class="errors.password ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        パスワードを入力してください
                    </div>
                    <div v-bind:class="errors.passwordFormat ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        パスワードのフォーマットは正しくない
                    </div>
                </div>
                <div class="edit-item-wrapper">
                    <div class="form-item">
                        <label class="label" for="">
                            パスワード確認<span class="required">（必須）</span>
                        </label>
                        <el-input 
                            placeholder="例：dqdqyi66&&" 
                            show-password
                            @input="errClean('passwordIncon')"
                            v-bind:class="errors.passwordIncon ? 'input-err' : ''"
                            v-model="customerInfo.password2"></el-input>
                    </div>
                    <div v-bind:class="errors.passwordIncon ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        パスワードは一致しない
                    </div>
                </div>
                <div class="edit-item-wrapper">
                    <div class="form-item">
                        <label class="label" for="">
                            TEL<span class="required">（必須）</span>
                        </label>
                        <el-input 
                            placeholder="例：09000000000" 
                            @input="errClean('tel')"
                            v-bind:class="errors.tel ? 'input-err' : ''"
                            v-model="customerInfo.tel"></el-input>
                        <div class="desc">
                            (半角、"-"なしで)
                        </div>
                    </div>
                    <div v-bind:class="errors.tel ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        ハイフンなしで正しい電話番号を入力してください
                    </div>
                </div>
                <div class="edit-item-wrapper">
                    <div class="form-item">
                        <label class="label" for="">
                            Email<span class="required">（必須）</span>
                        </label>
                        <el-input 
                            placeholder="例：dennshi@onesto.co.jp" 
                            @input="errClean('email')"
                            v-bind:class="errors.email ? 'input-err' : ''"
                            v-model="customerInfo.email"></el-input>
                        <div class="desc">
                            (半角)
                        </div>
                    </div>
                    <div v-bind:class="errors.email ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        正しいメールアドレスを入力してください
                    </div>
                </div>
                <div class="edit-item-wrapper">
                    <div class="form-item form-item-up">
                        <label class="label" for="">
                            住所<span class="required">（必須）</span>
                        </label>
                        <div class="addr-wrapper">
                            <div class="addr-item addr-item-wrapper">
                                <label class="sub-label">
                                    郵便番号
                                </label>
                                <el-input 
                                    class="min-input"
                                    placeholder="例：8120012(半角数字)" 
                                    @input="errClean('zipcode')"
                                    v-bind:class="errors.zipcode ? 'input-err' : ''"
                                    v-model="customerInfo.zipcode"></el-input>
                                <el-button 
                                    type="primary" 
                                    @click="addrSearchByZipcode"
                                    plain>
                                    住所検索
                                </el-button>
                                <div v-bind:class="errors.zipcode ? 'err-item err-item-zipcode' : 'opt-item-hidden'">
                                    <i class="el-icon-warning error-icon"></i>
                                    郵便番号から住所が見つかりませんでした。
                                </div>
                                <div v-bind:class="errors.zipcodeEmpty ? 'err-item err-item-zipcode' : 'opt-item-hidden'">
                                    <i class="el-icon-warning error-icon"></i>
                                    郵便番号を入力してください
                                </div>
                            </div>
                            <div class="addr-line">
                                <div class="addr-item-wrapper">
                                    <div class="addr-item">
                                        <label class="sub-label">
                                            都道府県
                                        </label>
                                        <el-input 
                                            class="min-input"
                                            placeholder="" 
                                            @input="errClean('addr1')"
                                            v-bind:class="errors.addr1 ? 'input-err' : ''"
                                            v-model="customerInfo.addr1"></el-input>
                                    </div>
                                    <div v-bind:class="errors.addr1 ? 'err-item err-item-d' : 'opt-item-hidden'">
                                        <i class="el-icon-warning error-icon"></i>
                                        都道府県を入力してください
                                    </div>
                                </div>
                                <div class="addr-item-wrapper">
                                    <div class="addr-item">
                                        <label class="sub-label">
                                            市区町村
                                        </label>
                                        <el-input 
                                            class="min-input"
                                            placeholder="" 
                                            @input="errClean('addr2')"
                                            v-bind:class="errors.addr2 ? 'input-err' : ''"
                                            v-model="customerInfo.addr2"></el-input>
                                    </div>
                                    <div v-bind:class="errors.addr2 ? 'err-item err-item-d' : 'opt-item-hidden'">
                                        <i class="el-icon-warning error-icon"></i>
                                        市区町村を入力してください
                                    </div>
                                </div>
                            </div>
                            <div class="addr-item-wrapper">
                                <div class="addr-item">
                                    <label class="sub-label">
                                        町域・番地
                                    </label>
                                    <el-input 
                                        class="input-l"
                                        placeholder="" 
                                        @input="errClean('addr3')"
                                        v-bind:class="errors.addr3 ? 'input-err' : ''"
                                        v-model="customerInfo.addr3"></el-input>
                                </div>
                                <div v-bind:class="errors.addr3 ? 'err-item err-item-d' : 'opt-item-hidden'">
                                    <i class="el-icon-warning error-icon"></i>
                                    町域・番地を入力してください
                                </div>
                                
                            </div>
                            <div class="addr-item addr-item-wrapper">
                                <label class="sub-label">
                                    建物名・<br/>部屋番号
                                </label>
                                <el-input 
                                    class="input-l"
                                    placeholder="" 
                                    @input="errClean('addr4')"
                                    v-bind:class="errors.addr4 ? 'input-err' : ''"
                                    v-model="customerInfo.addr4"></el-input>
                            </div>
                        </div>
                    </div>      
                </div>
                <div class="form-item btn-form-item">
                    <el-button 
                        @click="onCreate"
                        type="primary">登録する</el-button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fetch-jsonp@1.1.3/build/fetch-jsonp.min.js"></script>
<script src="./js/pageJump.js"></script>
<script>
	// elementの日本語対応
    ELEMENT.locale(ELEMENT.lang.ja); 
       
    let vm;
    vm = new Vue({

        // id はapp の属性の中の部分を管理する
        el: "#app",
        data(){
            return {
                // html の中の　v-model　属性と同じ値
                customerInfo: {
                    username: "",  // ユーザー名
                    name: "",      // 氏名
                    password: "",  // パスワード
                    password2: "", // パスワード確認
                    tel: "",       // 電話番号
                    email: "",     // メールアドレス
                    zipcode: "",   // 郵便番号
                    addr1: "",     // 都道府県
                    addr2: "",     // 市区町村
                    addr3: "",     // 町域・番地
                    addr4: "",     // 建物名・部屋番号
				},
                usernameCheck: false,
                checkedUsername: "",
                errors: {
                    username: false,
                    usernameDuplicate: false,
                    name: false,
                    password: false,
                    passwordIncon: false, //二回のパスワード入力は一致しない
                    passwordFormat: false, //パスワードのフォーマットは正しくない
                    tel: false,
                    email: false,
                    zipcode: false,
                    zipcodeEmpty: false,
                    addr1: false,
                    addr2: false,
                    addr3: false,
                }
            };
        },
        mounted() {
            const customerInfoStr = localStorage.getItem("tempCustomerInfo") || "";
            if (customerInfoStr != "") {
                const customerInfo = JSON.parse(customerInfoStr);
                this.customerInfo = customerInfo;
            }
        },
        methods: {
            checkUsername() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.1)'
                });
                axios({
                    method: "POST",
                    url: `/register/cst/exists`,
                    data: { username: this.customerInfo.username },
                    withCredentials: true,
                })
                    .then((res = {}) => {
                        loading.close();
                        const { data: { data } = {} } = res;

                        if (data > 0) {
                            this.errors.usernameDuplicate = true;
                            this.usernameCheck = false;
                        } else {
                            this.usernameCheck = true;
                            this.checkedUsername = this.customerInfo.username;
                        }
                    });
            },
            errClean(itemName) {
                if (itemName == "username") {
                    this.errors.username = false;
                    this.errors.usernameDuplicate = false;
                    return;
                }
                if (itemName == "password") {
                    this.errors.password = false;
                    this.errors.passwordFormat = false;
                    return;
                }
                this.errors[itemName] = false;
            },
            onCreate() {
                const {
                    username = "",
                    name = "",
                    password = "",
                    password2 = "",
                    tel = "",
                    email = "",
                    zipcode = "",
                    addr1 = "",
                    addr2 = "",
                    addr3 = "",
                } = this.customerInfo;
                let flag = true;
                // ユーザネーム必須の検証
                if (username == "") {
                    this.errors.username = true;
                    flag = false;
                }
                // 氏名必須の検証
                if (name == "") {
                    this.errors.name = true;
                    flag = false;
                }
                // パスワードフォーマットの検証
                const pwdRegExp = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,20}$/;
                if (!pwdRegExp.test(password)) {
                    this.errors.passwordFormat = true;
                    flag = false;
                }
                // パスワード二回の入力一致することの検証
                if (password2 != password) {
                    this.errors.passwordIncon = true;
                    flag = false;
                }
                // 電話番号フォーマットの検証
                const telRegExp = /^0\d{9}$/;  //　固定電話
                const mobileRegExp = /^0[789]0\d{8}$/; // 携帯電話
                if (!telRegExp.test(tel) && !mobileRegExp.test(tel)) {
                    this.errors.tel = true;
                    flag = false;
                }
                // メールアドレスフォーマットの検証
                const emailRegExp = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
                if (!emailRegExp.test(email)) {
                    this.errors.email = true;
                    flag = false;
                }
                if (zipcode == "") {
                    this.errors.zipcodeEmpty = true;
                    flag = false;
                }
                if (addr1 == "") {
                    this.errors.addr1 = true;
                    flag = false;
                }
                if (addr2 == "") {
                    this.errors.addr2 = true;
                    flag = false;
                }
                if (addr3 == "") {
                    this.errors.addr3 = true;
                    flag = false;
                }
                if (!this.usernameCheck) {
                    this.$message.error('ユーザ名が使えるかどうか確認してください！');
                    return;
                }
                if (this.errors.usernameDuplicate) {
                    flag = false;
                }
                
                if (flag == false) {
                    this.$message.error('記入不備な項目があるので、もう一度チェックしてください！');
                    return;
                }

                localStorage.removeItem("tempCustomerInfo");
                const customerInfoStr = JSON.stringify(this.customerInfo);
                localStorage.setItem("tempCustomerInfo", customerInfoStr);
                goCustomerRegisterConfirm();
            },
            addrSearchByZipcode() {
                const {
                    zipcode,  // 郵便番号
                    addr1,    // 都道府県
                    addr2,    // 市区町村
                    addr3,    // 町域・番地
                    addr4,    // 建物名・部屋番号
                } = this.customerInfo;

                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.1)'
                });

                fetchJsonp(`https://zipcloud.ibsnet.co.jp/api/search?zipcode=${zipcode}`, {
                    timeout: 10000, //タイムアウト時間
                }).then((response) => {
                    return response.json(); 
                }).then((data = {}) => {
                    loading.close();
                    if (data.results == null) {
                        this.errors.zipcode = true;
                        return;
                    }
                    this.customerInfo.addr1 = data.results[0].address1;
                    this.customerInfo.addr2 = data.results[0].address2;
                    this.customerInfo.addr3 = data.results[0].address3;
                });
                
            },
        },
    });
</script>