<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: ページの名にチェンジする -->
    <title>お客様案件登録</title>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <!-- vue と elementUIの依存css -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- システム共用のスタイルはこのファイルに追加する -->
    <link href="./css/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/jobCase.css"/>
    <!-- TODO: 作るHTMLとペアでCSSファイルを作り、なるべく同じファイル名にする -->
    <link rel="stylesheet" href="./css/customerCaseEdit.css" />

    <!-- vue と elementUIの依存javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/ja.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <el-container id="app" v-cloak>
        <!-- ヘッドの部分 各々の画面は同じです -->
        <header class="common-header">
            <div class="logo">
                ブリッジ
            </div>
            <div class="login-info">
                {{user.name}}さん、こんにちは！
                <span class="logout" @click="logout">ログアウト</span>
            </div>
        </header>

        <!-- メインの部分 -->
        <el-container class="common-mian job-case-main">
            <!-- サイドメニュー -->
            <el-aside width="200px">
                <!-- TODO: default-active は今いるのメニューです -->
                <el-menu default-active="1" class="el-menu-vertical-demo">
                    <el-menu-item index="1">新規案件登録</el-menu-item>
                    <el-menu-item index="2" @click="goCustomerCaseView">私の案件</el-menu-item>
                    <el-menu-item index="3">通知</el-menu-item>
                </el-menu>
            </el-aside>

            <el-container class="customer-case-edit-container">
                <el-main>
                    <!-- 案件登録 -->
                    <section>
                        <form>
                            <div class="caption-wrapper caption-wrapper-title-edit">
                                <div class="caption-wrapper-title">
                                    <i class="el-icon-edit-outline"></i>
                                    <div class="caption">案件の基本情報</div> 
                                </div>
                                <el-button 
                                    type="danger" 
                                    @click="onReset"
                                    plain>
                                    リセット
                                </el-button>
                            </div> 
                            <div class="edit-item-wrapper">
                                <div class="edit-item">
                                    <div class="label">
                                        案件名:
                                        <span class="required">（必須）</span>
                                    </div>
                                    <el-input 
                                        v-bind:class="(errors.caseNameDraft || errors.caseNameErr) ? 'input-err' : ''"
                                        placeholder="例：xxxシステム作成" 
                                        v-model="jobCase.caseName" 
                                        @input="errClean('caseName')"
                                        clearable
                                        >
                                    </el-input>
                                </div>
                                <div v-bind:class="errors.caseNameErr ? 'err-item' : 'opt-item-hidden'">
                                    <i class="el-icon-warning error-icon"></i>
                                    案件名を入力してください
                                </div>
                                <div v-bind:class="errors.caseNameDraft ? 'err-item' : 'opt-item-hidden'">
                                    <i class="el-icon-warning error-icon"></i>
                                    下書きを保存する際には、案件名が必要です
                                </div>
                            </div>
                            <div class="edit-item-wrapper">
                                <div class="edit-item edit-item-top">
                                    <div class="label">案件の説明:<span class="required">（必須）</span></div>
                                    <el-input
                                        v-bind:class="errors.descriptionErr ? 'input-err' : ''"
                                        type="textarea"
                                        :rows="3"
                                        @input="errClean('description')"
                                        placeholder="例：案件のプロファイルなど"
                                        v-model="jobCase.description"
                                        >
                                    </el-input>
                                </div>
                                <div v-bind:class="errors.descriptionErr ? 'err-item' : 'opt-item-hidden'">
                                    <i class="el-icon-warning error-icon"></i>
                                    案件の説明を入力してください
                                </div>
                            </div>
                            <div class="edit-item-wrapper">
                                <div class="edit-item edit-item-top">
                                    <div class="label">希望開発ツール:</div>
                                    <el-input 
                                        type="textarea" 
                                        :rows="3"
                                        placeholder="例：C言語で開発・GoogleChatでコミュニケーション・Wordで資料を作成等..." 
                                        v-model="jobCase.developTools" 
                                        clearable>
                                    </el-input>
                                </div>
                            </div>
                            <div class="edit-item-wrapper">
                                <div class="edit-item">
                                    <div class="label">報酬（税込）:<span class="required">（必須）</span></div>
                                    <el-input-number 
                                        v-bind:class="errors.bonusMoneyErr ? 'input-err number-input' : 'number-input'"
                                        placeholder="金額を入力してください"
                                        @change="errClean('bonusMoney')"
                                        v-model="jobCase.bonusMoney" 
                                        :min="1" 
                                        :max="999">
                                    </el-input-number>
                                    <div class="des">万円</div>
                                    
                                    <div class="commission">
									  	手数料:  <span>{{ jobCase.bonusMoney ? (jobCase.bonusMoney * 10000 * 0.1): '0' }}</span>円 
									</div>
                                    
                                    <div class="sub-edit">
                                        <span class="sub-lable">相談可否</span>
                                        <el-switch 
                                            v-model="jobCase.bonusMoneyNegotiable">
                                        </el-switch>
                                    </div>
                                </div>
                                <div v-bind:class="errors.bonusMoneyErr ? 'err-item' : 'opt-item-hidden'">
                                    <i class="el-icon-warning error-icon"></i>
                                    報酬額を入力してください
                                </div>
                            </div>
                            <div class="edit-item-wrapper">
                                <div class="edit-item">
                                    <div class="label">業務期間:<span class="required">（必須）</span></div>
                                    <el-date-picker 
                                        v-bind:class="errors.deadlineErr ? 'input-err' : ''"
                                        v-model="jobCase.deadline" 
                                        type="date" 
                                        @change="errClean('deadline')"
                                        format="yyyy年MM月dd日"
                                        value-format="yyyy-MM-dd"
                                        placeholder="業務期間を選択してください">
                                    </el-date-picker>
                                </div>
                                <div v-bind:class="errors.deadlineErr ? 'err-item' : 'opt-item-hidden'">
                                    <i class="el-icon-warning error-icon"></i>
                                    業務期間を選択してください
                                </div>
                            </div>
                            
                            <div class="functions-container">
                                <div class="caption-wrapper">
                                    <i class="el-icon-edit-outline"></i>
                                    <div class="caption">機能の追加<span class="required">（必須）</span></div> 
                                    <span>※ドラッグ&ドロップで機能の順位を変えることができます。</span>
                                </div> 
                                <div class="functions-edit-wrapper" 
                                    draggable="true"
                                    @dragstart="onFunctionDragStart(index, $event)"
                                    @dragover="onFunctionDragOver(index, $event)"
                                    @drop="onFunctionDrop(index, $event)"
                                    v-for="(func, index) in jobCase.functions">
                                    <div class="opts">
                                        <div 
                                            @click="onFunctionUp(index)"
                                            v-bind:class="index==0 ? 'opt-item-hidden' : 'opt-item'">
                                            <i class="el-icon-top"></i>
                                            上に移動
                                        </div>
                                        <div 
                                            @click="onFunctionDown(index)"
                                            v-bind:class="index==(jobCase.functions.length-1) ? 'opt-item-hidden' : 'opt-item'">
                                            <i class="el-icon-bottom"></i>
                                            下に移動
                                        </div>
                                        <el-popconfirm
                                            confirm-button-text='削除'
                                            cancel-button-text='削除しない' 
                                            icon="el-icon-info" 
                                            icon-color="red"
                                            @confirm="onFunctionDel(index)"
                                            title="削除した機能は戻らない、よろしいですか?">
                                            <el-button 
                                                slot="reference" 
                                                icon="el-icon-delete"
                                                v-bind:class="jobCase.functions.length==1 ? 'opt-item-hidden' : 'opt-item opt-item-del'">
                                                削除
                                            </el-button>
                                        </el-popconfirm>
                                    </div>
                                    <div class="func-edit-wrapper">
                                        <div class="func-edit func-edit-top">
                                            <div class="label">機能説明</div>
                                            <el-input 
                                                draggable="false"
                                                v-bind:class="func.err ? 'input-err' : ''"
                                                type="textarea"
                                                :rows="3"
                                                placeholder="例：検索機能は..です" 
                                                v-model="func.functionDesc" 
                                                @input="funcErrClear(index)"
                                                clearable>
                                            </el-input>
                                        </div>
                                        <div v-bind:class="func.err ? 'err-item err-item-func' : 'opt-item-hidden'">
                                            <i class="el-icon-warning error-icon"></i>
                                            機能説明を入力してください
                                        </div>
                                    </div>
                                </div>
                                <el-button 
                                    icon="el-icon-plus" 
                                    @click="onFunctionAdd">
                                    機能追加
                                </el-button>
                            </div>
                            <div class="save-btns">
                                <el-button 
                                    @click="onCaseCreate"
                                    type="primary">登録する</el-button>
                                <el-button 
                                    @click="onDraftSave"
                                    type="info">下書きとして保存</el-button>
                            </div>
                        </form>
                    </section>
                </el-main>
            </el-container>
        </el-container>
    </el-container>

</body>

</html>
<script src="./js/consts.js"></script>
<script src="./js/pageJump.js"></script>
<script>
    // elementの日本語対応
    ELEMENT.locale(ELEMENT.lang.ja);

    let vm;
    vm = new Vue({
        // id はapp の属性の中の部分を管理する
        el: "#app",
        data() {
            return {
                // ログインしたユーザー情報
                user: {},
                jobCase: {
                    status: 0,
                    functions: [{
                        functionDesc: "",
                    }],
                },
                // 技術選択肢
                techs,
                // ドラッグドロップ管理
                dragIndex: null,
                // 機能のid記録
                functionIdCnt: 3,
                //　提出時のエラー展示
                errors: {
                    caseNameErr: false,
                    caseNameDraft: false,
                    bonusMoneyErr: false,
                    descriptionErr: false,
                    deadlineErr: false,
                }
            };
        },
        mounted() {
            // ユーザー情報をゲット
            const userStr = sessionStorage.getItem("userinfo") || "";
            if (userStr != "") {
                const user = JSON.parse(userStr);
                if (user.type != 1) {
                    goLogin();
                } else {
                    this.user = user;
                }
            } else {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.1)'
                });
                axios({
                    method: "GET",
                    url: "/login/info",
                    withCredentials: true,
                })
                    .then((res) => {
                        loading.close();
                        const { data: {
                            code,
                            data: user = {},
                        } = {} } = res;
                        if (code != 80011 || user.type != 1) {
                            goLogin();
                        } else {
                            this.user = user;
                            this.jobCase.customerId = user.customerId;
                            sessionStorage.setItem("userinfo", JSON.stringify(user));
                        }
                    })
            }

            // 編集している案件情報をゲット
            const loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.1)'
            });
            axios({
                method: "POST",
                url: "/logged/case/get",
                data: {
                    customerId: this.user.customerId,
                    status: 0,
                },
                withCredentials: true,
            })
                .then((res = {}) => {
                    loading.close();
                    const { data: {
                        code,
                        data,
                    } = {} } = res;
                    if (code == 20041 && data == null) {
                        const jobCaseStr = localStorage.getItem("tempJobCase") || "";
                        if (jobCaseStr != "") {
                            const jobCase = JSON.parse(jobCaseStr);
                            const functions = jobCase.functions || [];
                            if (functions.length == 0) {
                                jobCase.functions = [];
                            }
                            this.jobCase = jobCase;
                        }
                    } else if (code == 20041 && data != null) {
                        const { bonusMoney } = data;
                        if (bonusMoney == null) {
                            data.bonusMoney = undefined;
                        }
                        this.jobCase = data;
                    }
                })
        },
        methods: {
            goCustomerCaseView,
            onReset() {
                this.$confirm('リセットした案件は戻れません、よろしいですか?', '確認', {
                    confirmButtonText: 'リセット',
                    cancelButtonText: "キャンセル",
                    type: 'warning',
                    center: false,
                })
                    .then(() => {
                        const jobCase = {
                            functions: [{
                                id: 0,
                                functionDesc: "",
                            }],
                        };
                        this.jobCase = jobCase;
                        this.functionIdCnt = 1;
                        this.errors = {
                            caseNameErr: false,
                            caseNameDraft: false,
                            bonusMoneyErr: false,
                            descriptionErr: false,
                            deadlineErr: false,
                        };
                    });
            },
            onFunctionDragStart(index, e) {
                this.dragIndex = index;
                const { 
                    functions = [],
                } = this.jobCase;
                functions[index].isTarget = true;
            },
            onFunctionDragOver(index, e) {
                const ev = e || window.event;
                ev.dataTransfer.dropEffect = "grab";
                ev.preventDefault();
            },
            onFunctionDrop(index, e) {
                let targetIndex;
                let target;
                const {
                    functions = [],
                } = this.jobCase;
                functions.forEach(({ isTarget }, i) => {
                    if (!isTarget) return;
                    targetIndex = i;
                    functions[i].isTarget = undefined;
                    target = functions[i];
                });
                functions.splice(targetIndex, 1);
                functions.splice(index, 0, target);
                this.dragIndex = null;
            },
            onFunctionDel(index) {
                const {
                    functions = [],
                    functionIdCnt,
                } = this.jobCase;
                functions.splice(index, 1);
            },
            onFunctionAdd() {
                const functions = [...(this.jobCase.functions || [])];
                functions.push({
                    functionDesc: "",
                });
                this.jobCase.functions = functions;
            },
            onFunctionUp(index) {
                const {
                    functions = [],
                    functionIdCnt,
                } = this.jobCase;
                const target = functions[index];
                functions.splice(index, 1);
                functions.splice(index - 1, 0, target);
            },
            onFunctionDown(index) {
                const {
                    functions = [],
                    functionIdCnt,
                } = this.jobCase;
                const target = functions[index];
                functions.splice(index, 1);
                functions.splice(index + 1, 0, target);
            },
            errClean(itemName) {
                if (itemName == "caseName") {
                    this.errors.caseNameErr = false;
                    this.errors.caseNameDraft = false;
                    return;
                }
                const item = itemName + "Err";
                this.errors[item] = false;
            },
            funcErrClear(index) {
                const {
                    functions = [],
                    functionIdCnt,
                } = this.jobCase;
                functions[index].err = false;
            },
            onDraftSave() {
                const {
                    caseName = "",
                } = this.jobCase;
                if (caseName == "") {
                    this.$message.error('下書きを保存する際には、案件名が必要です');
                    this.errors.caseNameDraft = true;
                    return;
                }

                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.1)'
                });
                axios({
                    method: "POST",
                    url: "/logged/case/saveCase",
                    data: {
                        ...this.jobCase,
                        customerId: this.user.customerId,
                        status: 0,
                    },
                    withCredentials: true,
                }).then((res) => {
                    loading.close();
                    const { data: {
                        code,
                        data,
                    } = {} } = res;
                    if (code == 20011) {
                        this.$message({
                            message: '下書きを保存しました！',
                            type: 'success'
                        });
                    } else {
                        this.$message.error("只今案件の保存ができません、後でもう一度お試しください！");
                    }
                });
                
            },
            onCaseCreate() {
                const {
                    caseName = "",
                    bonusMoney = "",
                    description = "",
                    deadline = "",
                    functions = [],
                } = this.jobCase;
                let flag = true;
                // debugger;
                if (caseName == "" || caseName == null) {
                    flag = false;
                    this.errors.caseNameErr = true;
                }
                if (bonusMoney == "" || bonusMoney == null) {
                    flag = false;
                    this.errors.bonusMoneyErr = true;
                }
                if (description == "" || description == null) {
                    flag = false;
                    this.errors.descriptionErr = true;
                }
                if (deadline == "" || deadline == null) {
                    flag = false;
                    this.errors.deadlineErr = true;
                }
                functions.forEach((item = {}) => {
                    const { functionDesc = "" } = item;
                    if (functionDesc == "" || functionDesc == null) {
                        flag = false;
                        item.err = true;
                    }
                });
                if (!flag) {
                    this.$message.error('未記入の必須項目があります。もう一度チェックしてください！');
                    return;
                }
                localStorage.removeItem("tempJobCase");
                const jobCaseStr = JSON.stringify(this.jobCase);
                localStorage.setItem("tempJobCase", jobCaseStr);
               
                goCustomerCaseDetail();
            }, 
            logout() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.1)'
                });
                axios({
                    method: "GET",
                    url: "/logout",
                    withCredentials: true,
                })
                    .then((res = {}) => {
                        loading.close();
                        const { data: {
                            code,
                            msg = "",
                        } = {} } = res;
                        this.$message.success(msg);
                        sessionStorage.removeItem("userinfo");
                        setTimeout(() => goLogin(), 1000);
                    });
            }
        }
    });
  
</script>