<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: ページの名にチェンジする -->
    <title>通知画面</title>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <!-- vue と elementUIの依存css -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- システム共用のスタイルはこのファイルに追加する -->
    <link href="./css/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/employeeNotification.css">
    <!-- TODO: 作るHTMLとペアでCSSファイルを作り、なるべく同じファイル名にする -->

    <!-- vue と elementUIの依存javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/ja.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <el-container id="app" v-cloak>
        <!-- ヘッドの部分 各々の画面は同じです -->
        <header class="common-header">
            <div class="logo">
                ブリッジ
            </div>
            <div class="login-info">
                {{user.name}}さん、こんにちは！
                <span class="logout" @click="logout">ログアウト</span>
            </div>
        </header>

        <!-- メインの部分 -->
        <el-container class="common-mian notice-case-main">
            <!-- サイドメニュー -->
            <el-aside width="200px">
                <!-- TODO: default-active は今いるのメニューです -->
                <el-menu default-active="3" class="el-menu-vertical-demo">
                    <el-menu-item index="1" @click="goCustomerCaseEdit">新規案件登録</el-menu-item>
                    <el-menu-item index="2" @click="goCustomerCaseView">私の案件</el-menu-item>
                    <el-menu-item index="3">
                        <el-badge v-if="noticeCount > 0" :value="noticeCount" class="notice-badge">
                            <div>通知</div>
                        </el-badge>
                        <div v-if="noticeCount == 0">通知</div>
                    </el-menu-item>
                </el-menu>
            </el-aside>

            <el-container>
                <el-main>
                    <!-- TODO: 内容はここに書く -->
                    <section class="employee-Notification">
                        <div class="common-caption">
                            <i class="el-icon-message-solid icon"></i>
                            <span class="em">通知一覧</span>
                        </div>
                        <el-empty v-if="notices.length == 0" description="只今、通知がありません"></el-empty>
                        <div class="notice-case-item" v-for="notice in notices">
                            <div v-if="notice.readed == 0" class="read-mark read-mark-0">
                                未読
                            </div>
                            <div v-if="notice.readed == 1" class="read-mark read-mark-1">
                                既読
                            </div>
                            <div class="date">
                                <span>{{notice.date}}</span>
                            </div>
                            <div class="msg-wrapper">
                                <div class="name">案件名：{{notice.caseName}}</div>
                                <div>メッセージ：{{notice.msg}}</div>
                            </div>
                            <div class="go-detail"
                                @click="goDetail(notice)"
                            >
                                詳細>>
                            </div>
                        </div>
                    </section>
                </el-main>
            </el-container>
        </el-container>
    </el-container>

</body>

</html>
<script src="./js/pageJump.js"></script>
<script src="./js/utils.js"></script>
<script>
    // elementの日本語対応
    ELEMENT.locale(ELEMENT.lang.ja);

    let vm;
    vm = new Vue({
        // id はapp の属性の中の部分を管理する
        el: "#app",
        data() {
            return {
                // ログインしたユーザー情報
                user: {},
                notices: [],
                noticeCount: 0,
                linkTypeMap: [{
                    /* 案件応募 */
                    type: 2001,
                    goMethod: goCustomerCaseView,
                    msg: "あなたが登録した案件に応募がありました、",
                }, {
                    /* マイルストーンの確認リクエスト */
                    type: 2002,
                    goMethod: goCustomerCaseDetail,
                    msg: "マイルストーンの確認リクエストが届いています、",
                }, {
                    /* 案件の完了確認リクエスト */
                    type: 2003,
                    goMethod: goCustomerCaseDetail,
                    msg: "案件マイルストーン作業の完了確認リクエストが届いています、",
                }, {
                    /* 案件完了確認 */
                    type: 2004,
                    goMethod: goCustomerCaseDetail,
                    msg: "お疲れさまでした！案件作業が完了しました。案件の請求書は後日御宅に送り致します。"
                }],
            };
        },
        mounted() {
            // ユーザー情報をゲット
            const userStr = sessionStorage.getItem("userinfo") || "";
            if (userStr != "") {
                const user = JSON.parse(userStr);
                if (user.type != 1) {
                    goLogin();
                } else {
                    this.user = user;
                    this.getNotices(user.customerId);
                }
            } else {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.1)'
                });
                axios({
                    method: "GET",
                    url: "/login/info",
                    withCredentials: true,
                })
                    .then((res) => {
                        loading.close();
                        const { data: {
                            code,
                            data: user = {},
                        } = {} } = res;
                        if (code != 80011 || user.type != 1) {
                            goLogin();
                        } else {
                            this.user = user;
                            this.getNotices(user.customerId);
                            this.jobCase.customerId = user.customerId;
                            sessionStorage.setItem("userinfo", JSON.stringify(user));
                        }
                    })
            }
        },
        methods: {
            goCustomerCaseEdit,
            goCustomerCaseView,
            getNotices(customerId) {
                axios({
                    method: "GET",
                    url: `/logged/cust/notice/list/${customerId}`,
                    withCredentials: true,
                })
                    .then((res = {}) => {
                        const { data: {
                            code,
                            data = [],
                        } = {} } = res;
                        let noticeCount = 0;
                        const notices = [];
                        const tmp = [];
                        data.forEach((n = {}) => {
                            const { readed, type, createDate } = n;
                            const date = dateFormat(createDate);
                            const nt = this.linkTypeMap.find(({ type: ty }) => ty == type);
                            n.date = date;
                            n.goMethod = nt.goMethod;
                            n.msg = `${nt.msg}詳細を確認してください！`;
                            if (readed == 0) {
                                noticeCount++;
                                notices.push(n);
                            } else {
                                tmp.push(n);
                            }
                        });
                        this.noticeCount = noticeCount;
                        notices.push(...tmp);
                        this.notices = notices;
                    });
            },
            goDetail(notice) {
                const {
                    goMethod,
                    caseId,
                    id,
                    type,
                } = notice;
                axios({
                    method: "GET",
                    url: `/logged/cust/notice/readed/${id}`,
                    withCredentials: true,
                })
                    .then(() => {
                        const params = [caseId];
                        if (type != 2004) {
                            params.push(1);
                        } 
                        goMethod(...params);
                    });
            },
            logout() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.1)'
                });
                axios({
                    method: "GET",
                    url: "/logout",
                    withCredentials: true,
                })
                    .then((res = {}) => {
                        loading.close();
                        const { data: {
                            code,
                            msg = "",
                        } = {} } = res;
                        this.$message.success(msg);
                        sessionStorage.removeItem("userinfo");
                        setTimeout(() => goLogin(1), 1000);
                    });
            }
        },
    });
</script>