<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社員情報の登録ページ</title>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <!-- vue と elementUIの依存css -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    
    <link href="./css/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/customerRegister.css">
    <link rel="stylesheet" href="./css/employeeRegister.css">
    
    <!-- vue と elementUIの依存javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/ja.js"></script>
    <script src="//cdn.jsdelivr.net/npm/@element-plus/icons-vue"></script>

</head>
<body >
    <!-- ヘッドの部分 各々の画面は同じです -->
    <header class="common-header">
        <div class="logo">
            ブリッジ
        </div>
        <div class="login-info">
            未登録
        </div>
    </header>

    <!-- メインの部分 -->
    <main class="common-mian common-mian-nologin" id="app">
        <!-- お客様の登録 -->
        <section class="login-form-container">
            <div class="caption">
                社員情報の登録
            </div>
            <form class="login-form">
				
                <div class="edit-item-wrapper">
                    <div class="form-item">
                        <label class="label" for="">
                            社員番号<span class="required">（必須）</span>
                        </label>
                        <!-- v-modelはフォームのデータを収集するための属性です
                                        new Vueの中のdataの同じ属性と同じ値を保存する -->
                        <el-input 
                            placeholder="例：123456" 
                            @input="errClean('empnumber')"
                            @change="checkEN"
                            v-bind:class="(errors.empnumber || errors.empnumberDuplicate) ? 'input-err' : ''"
                            v-model="employeeInfo.empnumber"></el-input>
                            <div class="desc">
	                            (半角)
	                        </div>
                        <div 
                            v-bind:class="empnumberCheck ? 'opt-item-hidden' : 'desc user-check'"
                            v-on:click="checkEmpnumber">
                            使えるかどうかをチェックする
                        </div>
                        <div v-bind:class="empnumberCheck ? 'check-ok' : 'opt-item-hidden'">
                            <i class="el-icon-success"></i>
                        </div>
                    </div>
                    <div v-bind:class="errors.username ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        社員番号を入力してください
                    </div>
                    <div v-bind:class="errors.usernameDuplicate ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        社員番号はすでに存在しています
                    </div>
                </div>
                
                <div class="edit-item-wrapper">
                    <div class="form-item">
                        <label class="label" for="">
                            氏&nbsp;&nbsp;名<span class="required">（必須）</span>
                        </label>
                        <el-input 
                            placeholder="例：電子　花子" 
                            @input="errClean('name')"
                            v-bind:class="errors.name ? 'input-err' : ''"
                            v-model="employeeInfo.name"></el-input>
                    </div>
                    <div v-bind:class="errors.name ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        氏名を入力してください
                    </div>
                </div>
                <div class="form-item">
                    <label class="label" for="">
                        性&nbsp;&nbsp;別<span class="required">（必須）</span>
                    </label>
                    <el-radio-group v-model="employeeInfo.gender">
                        <el-radio :label="0">男性</el-radio>
                        <el-radio :label="1">女性</el-radio>
                        <el-radio :label="2">指定しない</el-radio>
                    </el-radio-group>
                </div>
                <div class="form-item">
                    <label class="label" for="">
                        生年月日<span class="required">（必須）</span>
                    </label>
                    <el-date-picker
                        v-model="value1"
                        type="date"
                        placeholder="Pick a day">
                    </el-date-picker>
                </div>
                <div class="edit-item-wrapper">
                    <div class="form-item">
                        <label class="label"  for="">
                            パスワード<span class="required">（必須）</span>
                        </label>
                        <el-input 
                            placeholder="例：dqdqyi66&&" 
                            show-password
                            @input="errClean('password')"
                            v-bind:class="(errors.password || errors.passwordFormat) ? 'input-err' : ''"
                            v-model="employeeInfo.password"></el-input>
                        <div class="desc">
                            (8-20桁、数字とアルファベット両方とも1桁以上)
                        </div>
                    </div>
                    <div v-bind:class="errors.password ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        パスワードを入力してください
                    </div>
                    <div v-bind:class="errors.passwordFormat ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        パスワードのフォーマットは正しくない
                    </div>
                </div>
                <div class="edit-item-wrapper">
                    <div class="form-item">
                        <label class="label" for="">
                            パスワード確認<span class="required">（必須）</span>
                        </label>
                        <el-input 
                            placeholder="例：dqdqyi66&&" 
                            show-password
                            @input="errClean('passwordIncon')"
                            v-bind:class="errors.passwordIncon ? 'input-err' : ''"
                            v-model="employeeInfo.password2"></el-input>
                    </div>
                    <div v-bind:class="errors.passwordIncon ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        パスワードは一致しない
                    </div>
                </div>
                <div class="edit-item-wrapper">
                    <div class="form-item">
                        <label class="label" for="">
                            TEL<span class="required">（必須）</span>
                        </label>
                        <el-input 
                            placeholder="例：09000000000" 
                            @input="errClean('tel')"
                            v-bind:class="errors.tel ? 'input-err' : ''"
                            v-model="employeeInfo.tel"></el-input>
                        <div class="desc">
                            (半角、"-"なしで)
                        </div>
                    </div>
                    <div v-bind:class="errors.tel ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        ハイフンなしで正しい電話番号を入力してください
                    </div>
                </div>
                <div class="edit-item-wrapper">
                    <div class="form-item">
                        <label class="label" for="">
                            Email<span class="required">（必須）</span>
                        </label>
                        <el-input 
                            placeholder="例：dennshi@onesto.co.jp" 
                            @input="errClean('email')"
                            v-bind:class="errors.email ? 'input-err' : ''"
                            v-model="employeeInfo.email"></el-input>
                        <div class="desc">
                            (半角)
                        </div>
                    </div>
                    <div v-bind:class="errors.email ? 'err-item' : 'opt-item-hidden'">
                        <i class="el-icon-warning error-icon"></i>
                        正しいメールアドレスを入力してください
                    </div>
                </div>
                <div class="edit-item-wrapper">
                	<div class="form-item">
                    	<label class="label" for="">
                            経験開発言語<span class="required">（必須）</span>
                        </label>
                        <el-select 
                            v-model="employeeInfo.requiredTech" 
                            multiple 
                            placeholder="選択してください" 
                            clearable>
                            	<el-option 
                                	v-for="tech in techs" 
                                	:key="tech.value" 
                                	:label="tech.label" 
                                	:value="tech.value">
                                </el-option>
                            </el-select>
                	</div>
            	</div>
            	
            	
				<div class="functions-container">
	                    <div class="caption-wrapper">
	                        <label class="label" for="">
								職務経歴<span class="any">（任意）</span>
							</label> 
	                    </div> 
	                    <div class="functions-edit-wrapper" 
	                        v-for="(workItem, index) in employeeInfo.workHistory">
	                        <div class="opts">
	                            <div 
	                                @click="onFunctionUp(index)"
	                                v-bind:class="index==0 ? 'opt-item-hidden' : 'opt-item'">
	                                <i class="el-icon-top"></i>
	                                上に移動
	                            </div>
	                            <div 
	                                @click="onFunctionDown(index)"
	                                v-bind:class="index==(employeeInfo.workHistory.length-1) ? 'opt-item-hidden' : 'opt-item'">
	                                <i class="el-icon-bottom"></i>
	                                下に移動
	                            </div>
	                            <el-popconfirm
	                                confirm-button-text='削除'
	                                cancel-button-text='削除しない' 
	                                icon="el-icon-info" 
	                                icon-color="red"
	                                
	                                @confirm="workHistoryDel(index)"
	                                
	                                title="削除した機能は戻らない、よろしいですか?">
	                                <el-button 
	                                    slot="reference" 
	                                    icon="el-icon-delete"
	                                    class="opt-item opt-item-del">
	                                    削除
	                                </el-button>
	                            </el-popconfirm>
	                        </div>
	                            
							<div  class="history">
							    <table>
							        <tr>
							            <th rowspan="7">
							                経歴の説明
							            </th>
							            <th class="title">
							                経歴名<span class="required">（必須）</span>
							            </th>
							            <td>
							                <el-input 
							                	placeholder="例：業務管理システムのリニューアル" 
							                	v-model="workItem.workName">
							                </el-input>
							            </td>
							        </tr>
							        <tr>
							            <th class="title">
							                開発期間<span class="required">（必須）</span>
							            </th>
							            <td>
							                <el-input-number 
							                	v-model="workItem.workPeriod" 
							                	:min="1">
							                </el-input-number> 日
							            </td>
							        </tr>
							        <tr>
							            <th class="title">
							                開始時期
							            </th>
							            <td>
							                <div class="block">
							                    <span class="demonstration"></span>
							                    <el-date-picker 
							                    	v-model="workItem.workStart" 
							                    	type="month" 
							                    	placeholder="Pick a month">
							                    </el-date-picker>
							                </div>
							            </td>
							        </tr>
							        <tr>
							            <th class="title">
							                役職<span class="required">（必須）</span>
							            </th>
							            <td>
							                <el-input 
							                	placeholder="例：システムエンジニア" 
							                	v-model="workItem.workPost">
							                </el-input>
							            </td>
							        </tr>
							        <tr>
							            <th class="title">
							                担当内容<span class="required">（必須）</span>
							            </th>
							            <td>
							                <el-input 
							                	placeholder="例：設計、実装" 
							                	v-model="workItem.workCharge">
							                </el-input>
							            </td>
							        </tr>
							        <tr>
							            <th class="title">
							                概要<span class="required">（必須）</span>
							            </th>
							            <td>
							                <el-input 
							                	type="textarea" 
							                	:rows="2" 
							                	placeholder="例：企業内の業務管理を支援するためのシステムをリニューアル..." 
							                	v-model="workItem.workContent">
							                </el-input>
							            </td>
							        </tr>
							        <tr>
							            <th class="title">
							                使用言語<span class="required">（必須）</span>
							            </th>
							            <td>
							                <el-select 
							                	v-model="employeeInfo.requiredTech" 
							                	multiple placeholder="選択してください" clearable>
							                    <el-option 
	                                                v-for="tech in techs"
							                    	:key="tech.value" 
							                    	:label="tech.label" 
							                    	:value="tech.value">
							                    </el-option>
							                </el-select>
							            </td>
							        </tr>
							    </table>
							</div>
	
	                      </div>
					</div>
                    <el-button 
                        icon="el-icon-plus" 
                        @click="workHistoryAdd">
                        職務履歴を追加
                    </el-button>
                            
                            
                <div class="form-item btn-form-item">
                    <el-button 
                        @click="onCreate"
                        type="primary">登録する</el-button>
                </div>
                
            </form>
        </section>
    </main>
</body>
</html>
<script src="./js/consts.js"></script>
<script>
	// elementの日本語対応
    ELEMENT.locale(ELEMENT.lang.ja); 
       
    let vm;
    vm = new Vue({

        // id はapp の属性の中の部分を管理する
        el: "#app",
        data(){
            return {
                // html の中の　v-model　属性と同じ値
                employeeInfo: {
                    empnumber: "",    //社員番号
                    name: "",         //氏名
                    password: "",     //パスワード
                    password2: "",    //パスワード確認
                    tel: "",          //電話番号
                    email: "",        //メールアドレス
                    requiredTech: "", //経験開発言語
                    
                    workHistory: [],
                    /**
                    * 職務経歴
                    * workName: "",      	//経歴名
					  workStart: "",		//開発開始時期
					  workPeriod: "",		//開発期間
					  workPost: "",		    //役職
					  workCharge: "",		//担当内容
					  workContent: "",	    //概要
					  workTech: "",		    //使用言語
                    */
				},
				techs,
                // ドラッグドロップ管理
                dragIndex: null,
                usernameCheck: false,
                checkedUsername: "",
                errors: {
                    empnumber: false,
                    empnumberDuplicate: false,
                    name: false,
                    password: false,
                    passwordIncon: false, //二回のパスワード入力は一致しない
                    passwordFormat: false, //パスワードのフォーマットは正しくない
                    tel: false,
                    email: false,
                }
            };
        },
        methods: {
			
			workHistoryAdd() {
				const workHistory = this.employeeInfo.workHistory;
				workHistory.push({});
			},
			workHistoryDel(index) {
				const workHistory = this.employeeInfo.workHistory;
				workHistory.splice(index, 1);
			},
			
            checkEmpnumber() {
                //TODO サーバに送って、使えるかどうかをチェックする
                if (this.customerInfo.empnumber != "123456") {
                    this.empnumberCheck = true;
                    this.checkedUsername = this.customerInfo.username;
                } else {
                    this.errors.empnumberDuplicate = true;
                    this.empnumberCheck = false;
                }
            },
            checkEN() {
                if (!this.empnumberCheck) return;
                if (this.employeeInfo.empnumber == this.checkedEmpnumber) return;
                this.empnumberCheck = false;
            },
            errClean(itemName) {
                if (itemName == "empnumber") {
                    this.errors.empnumber = false;
                    this.errors.empnumberDuplicate = false;
                    return;
                }
                if (itemName == "password") {
                    this.errors.password = false;
                    this.errors.passwordFormat = false;
                    return;
                }
                this.errors[itemName] = false;
            },
            onCreate() {
                const {
                    empnumber = "",
                    name = "",
                    password = "",
                    password2 = "",
                    tel = "",
                    email = "",
                } = this.customerInfo;
                let flag = true;
                // ユーザネーム必須の検証
                if (empnumber == "") {
                    this.errors.empnumber = true;
                    flag = false;
                }
                // 氏名必須の検証
                if (name == "") {
                    this.errors.name = true;
                    flag = false;
                }
                // パスワードフォーマットの検証
                const pwdRegExp = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,20}$/;
                if (!pwdRegExp.test(password)) {
                    this.errors.passwordFormat = true;
                    flag = false;
                }
                // パスワード二回の入力一致することの検証
                if (password2 != password) {
                    this.errors.passwordIncon = true;
                    flag = false;
                }
                // 電話番号フォーマットの検証
                const telRegExp = /^0\d{9}$/;  //　固定電話
                const mobileRegExp = /^0[789]0\d{8}$/; // 携帯電話
                if (!telRegExp.test(tel) && !mobileRegExp.test(tel)) {
                    this.errors.tel = true;
                    flag = false;
                }
                // メールアドレスフォーマットの検証
                const emailRegExp = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
                if (!emailRegExp.test(email)) {
                    this.errors.email = true;
                    flag = false;
                }
                if (!this.empnumberCheck) {
                    this.$message.error('ユーザ名が使えるかどうか確認してください！');
                    return;
                }
                if (this.errors.usernameDuplicate) {
                    flag = false;
                }
                if (flag == false) {
                    this.$message.error('記入不備な項目があるので、もう一度チェックしてください！');
                }

                localStorage.removeItem("tempCustomerInfo");
                const customerInfoStr = JSON.stringify(this.customerInfo);
                localStorage.setItem("tempCustomerInfo", customerInfoStr);
            },
            
            
            onFunctionDragStart(index, e) {
                this.dragIndex = index;
                const { 
                    functions = [],
                } = this.jobCase;
                functions[index].isTarget = true;
            },
            onFunctionDragOver(index, e) {
                const ev = e || window.event;
                ev.dataTransfer.dropEffect = "grab";
                ev.preventDefault();
            },
            onFunctionDrop(index, e) {
                let targetIndex;
                let target;
                const {
                    functions = [],
                } = this.jobCase;
                functions.forEach(({ isTarget }, i) => {
                    if (!isTarget) return;
                    targetIndex = i;
                    functions[i].isTarget = undefined;
                    target = functions[i];
                });
                functions.splice(targetIndex, 1);
                functions.splice(index, 0, target);
            },
            onFunctionDel(index) {
                const {
                    functions = [],
                    functionIdCnt,
                } = this.jobCase;
                functions.splice(index, 1);
            },
            onFunctionAdd() {
                const {
                    functions = [],
                    functionIdCnt,
                } = this.jobCase;
                functions.push({
                    id: functionIdCnt,
                    functionDesc: "",
                });
                this.functionIdCnt = functionIdCnt + 1;
            },
            onFunctionUp(index) {
                const {
                    functions = [],
                    functionIdCnt,
                } = this.jobCase;
                const target = functions[index];
                functions.splice(index, 1);
                functions.splice(index - 1, 0, target);
            },
            onFunctionDown(index) {
                const {
                    functions = [],
                    functionIdCnt,
                } = this.jobCase;
                const target = functions[index];
                functions.splice(index, 1);
                functions.splice(index + 1, 0, target);
            },
        },
    });
</script>