@charset "UTF-8";

.applicants-list{
	margin-top: 30px;
	border-top: 2px dashed #ddd;
	padding-top: 30px;
}

.applicant-info{
	padding: 5px;
}

.name{
	font-weight: bold;
	font-size: 14px;
}

.label{
	padding-right: 20px;
}

.label span{
	font-weight: bold;
}

.applicantLength{
	padding-left: 18px;
	font-size: 18px;
	font-weight: 550;
}

.hidden {
	display: none;
}