.edit-item-wrapper {
    margin-bottom: 14px;
}
.err-item {
    display: flex;
    align-items: center;
    color: red;
    padding-left: 188px;
    font-size: 12px;
}
.opt-item-hidden {
    display: none;
}
.error-icon {
    font-size: 16px;
    margin-right: 5px;
}
.input-err input, .input-err textarea {
    border-color: red;
}
.check-ok {
    color: #67C23A;
    font-size: 20px;
    padding-left: 10px;
}
.addr-item-wrapper {
    margin-bottom: 10px;
}
.addr-wrapper .addr-item {
    display: flex;
    align-items: center;
}
.min-input {
    width: 200px !important;
    margin-right: 10px;
}
.input-l {
    width: 502px !important;
    margin-right: 10px;
}
.sub-label {
    margin-right: 10px;
    width: 82px;
    text-align: right;
}
.form-item-up {
    align-items: baseline !important;
}
.addr-line {
    display: flex;
    align-items: center;
}
.err-item-zipcode {
    padding-left: 10px;
}
.err-item-d {
    padding-left: 90px !important;
}
.customer-register {
    padding-left: 70px;
}