.job-case-main {

}
.job-case-item {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
}
.job-case-item .case-name-line {
    display: flex;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.job-case-item .label {
    display: inline-block;
    color: #4e4949;
    /* width: 100px; */
}

.case-name {
    font-size: 20px;
}
.case-sub {
    display: flex;
    margin-bottom: 5px;
}

.case-sub .case-sub-day {
    width: 400px;
}
.case-sub .case-sub-money {
    width: 400px;
}
.go-detail {
    color: #6694e3;
    text-decoration: underline;
    cursor: pointer;
}
.job-case-search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}
.job-case-search .search-item {
    width: 30%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.job-case-search .search-item .search-label {
    white-space: nowrap;
    margin-right: 10px;
}
.job-case-search .search-item .mark {
    margin-left: 10px;
}
.common-caption {
    /* font-weight: bold; */
    font-size: 16px;
    color: #999;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.common-caption .icon {
    color: #ef89be;
    font-size: 24px;
    margin-right: 10px;
}
.em {
    color: #000;
    /* font-weight: bold; */
}
.job-case-search .search-item .el-select {
    width: 100%;
}
.case-name-line .title {
    display: flex;
    align-items: center;
}
.status {
    font-size: 12px;
    display: inline-block;
    padding: 4px 7px;
    border-radius: 3px;
    position: relative;
    top: -2px;
    left: 2px;
    margin-left: 10px;
}
.status-1 {
    color: #ef89be;
    border: 1px solid #ef89be;
    background-color: #fff8fc;
}
.status-2 {
    color: #999;
    border: 1px solid #ccc;
    background-color: #eaf3fb;
}
.status-3 {
    color: #409eff;
    border: 1px solid #409eff;
    background-color: #d5eaff;
}
.status-4 {
    color: #51af3f;
    border: 1px solid #67c23a;
    background-color: #d6f5c8;
}
