
section{
	padding-bottom: 25px;
}

.common-caption {
    font-size: 16px;
    color: #999;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.common-caption .icon {
    color: #ef89be;
    font-size: 24px;
    margin-right: 10px;
}


/*プロフィール*/
.profile table {
	  margin-top: 20px;
	  margin-bottom: 20px;
	  border-collapse: collapse;
	  width: 100%
}

.profile td {
	  padding: 10px;
	  border: 1px solid #ddd;
	  text-align: left;
	  margin-right: 10px;
}

.profile tr {
 	margin-bottom: 10px;
}

.arvater {
	width: 100px;
	height: 100px;
	border-radius: 50% ;
}

.icon {
  	margin-right: 10px;
}


/*職務経歴*/
h4{
	font-size: 16px;
}

.history table {
	  width: 100%;
	  border-collapse: collapse;
	  margin-top: 20px;
	  margin-bottom: 20px;
}

.history th, td {
	  padding: 12px;
	  border: 1px solid #ddd;
}

.history th {
	background-color: #f2f2f2;
	text-align: center;
}

.history tr {
  	margin-bottom: 10px;
}

.history td:first-child {
	width: 30%;
	font-weight: bold;
}

.history td:nth-child(2) {
  	width: 70%;
}
.hidden {
	display: none;
}
.employee-login-infos-wrapper {
	font-size: 14px;
}
.pro-label {
	width: 110px;
	display: inline-block;
}
.long-text {
	white-space: pre-line;
}
.history {
	width: 100%;
}
.goback {
    color: #409eff;
    padding: 10px 0 20px;
    cursor: pointer;
}
.edit-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.edit-item .el-input-number {
	width: 300px;
}
.edit-item .des {
	margin-left: 10px;
}
.el-icon-warning, .warn-text {
	color: #E6A23C;
}

.confirm-caption {
	margin-bottom: 10px;
	font-weight: bold;
}
.confirm-mark {
	margin-top: 10px;
	margin-bottom: 10px;
}




