.login-container-outer {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.login-container {
    flex: 0.5;
    border: 1px solid #ddd;
    padding: 30px;
    display: block;
}
.login-container .caption {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 28px;
    color: #889ec3;
    /* color: #999;
    font-weight: bold; */
    padding-bottom: 20px;
    font-family: "Sawarabi Mincho";
/*    font-family: 'Noto Sans JP', sans-serif;*/
    /* font-family: 'Roboto Condensed', sans-serif; */
}
.login-form-wrapper .form-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 5px;
}
.login-form-wrapper .edit-item-wrapper {
    margin-bottom: 20px;
}
.err-item {
    display: flex;
    align-items: center;
    color: red;
    padding-left: 110px;
    font-size: 12px;
}
.opt-item-hidden {
    display: none;
}
.error-icon {
    font-size: 16px;
    margin-right: 5px;
}
.input-err input, .input-err textarea {
    border-color: red;
}
.login-form-wrapper .label {
    white-space: nowrap;
    width: 120px;
    text-align: right;
    margin-right: 10px;
}
.radio-label {
    padding-right: 15px;
}
.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}